.btn-action {
  border: 1px solid #ccc;
  padding: 8px 16px;
  margin-right: 5px;

  &:hover {
    background-color: red;
    border-color: #888;
  }
}

.btn-action:nth-child(1) {
  background: yellow;
}
.btn-action:nth-child(2) {
  background: red;
}
